In [1]:
# file : ds01_syntax.ipynb
# desc : 파이썬 기본문법 학습

## 자료구조와 알고리즘
- 파이썬 기본문법 복습

### 1. 콘솔출력
print()

In [43]:
# 코딩 네이밍룰(Naming Rule)
# 
isBasic = False
iMonth =  12
sMonth =  'December'
fTaxRate =  10.2

isBasic, iMonth, sMonth, fTaxRate = False, 1, 'January', 8.8

In [42]:
# 각 변수별 타입확인
# print()
print(type(isBasic)), print(type(iMonth)), print(type(sMonth)), print(type(fTaxRate))

<class 'bool'>
<class 'int'>
<class 'str'>
<class 'float'>

(None, None, None, None)

In [5]:
# 구식방법
# 100출력 방법 100, '100', '%d' % 100
# '%d' 정수의 출력할건데 % 뒤에 있는 값을 정수형 문자열로 출력하라
print('%d' % 100)

100

In [9]:
print('%d' % (100 + 100))

200

In [12]:
# 구식방법, 잘못된 예 %d의 개수와 % 뒤에 값 갯수가 일치해야
print('%d | %d. %d' % (108, 209))

108 | 209

In [ ]:
# %문자열 포맷에는 2진수가 없음 (C언어부터 넘어온 것)
print('%02d / %s / %.2f / %c / %x / %o' % {iMonth, sMonth, fTaxRate, 'H', 255, 57})

In [23]:
## 신식방법 포맷스트링 (90년대경 발전)
print('{0:02d} / {1} / {2:.2f} / {3} / {4:x} / {5:o} / {6:b}'.format(iMonth, sMonth, fTaxRate,'h', 255, 57, 16))

01 / January / 8.80 / h / ff / 71 / 10000

In [31]:
## 최신식방법 포맷스트링(python 3.6 이후 개발)
print(f'{iMonth:02d} / {sMonth} / {fTaxRate:.2f} / {"H"} / {255:X} / {57:o} / {1023:b}')

01 / January / 8.80 / H / FF / 71 / 1111111111

### 2. 입력
- input()

In [44]:
# 입력은 무조건 문자열(str) x = 12, y = 23
x = input()
y = input()
print(x + y) # 문자열 결합이 됨

1223

In [45]:
# 입력은 무조건 문자열(str) x = 12, y = 23
x = int(input())
y = int(input())
print(x + y)

35

In [47]:
# 실수는 float()으로 변환 정수->실수 자동변환 / 실수->정수 수동변환해야
# x = 12, y = 23
x = float(input())
y = float(input())
print(x + y)

35.0

In [51]:
## input()만 쓰면 뭘 할지 모르기때문에 내용을 옵션으로 작성
# 34.56789 * 21.565555567 = 745.4757526289436
x = float(input('첫번째 실수 입력(예 3.14) >'))
y = float(input('두번째 실수 입력(예 3.14) >'))
print(f'{x:.2f} * {y:.2f} = {x * y:.4f}')
print(f'{x} * {y} = {x * y}')

34.57 * 21.57 = 745.4758
34.56789 * 21.565555567 = 745.4757526289436

In [54]:
## 입력값이 두개 이상이면 map과 split를 활용할 것
x, y = map(float, input('두 실수를 입력(구분자 스페이스) > ').split())
print(f'{x:.2f} * {y:.2f} = {x * y:.4f}')

34.57 * 21.57 = 745.6749

## 3. 연산자
- 사칙연산, 승수, 나머지의 경우 연산자 3개

In [55]:
## 산술연산
a = 5; b = 3 # 여러 줄 로직을 한 줄에 사용 시 세미콜론(;)으로 구분
a, b = 5, 3
print(a + b, a - b, a * b, a / b, a // b, a % b, a ** b)

8 2 15 1.6666666666666667 1 2 125

In [62]:
a = 5
a += 3
print(a) # 8
a -= 3
print(a) # 5 
a *= 3
print(a) # 15
a /= 3
print(a) # 5.0
a = int(a) # 5.0 -> 5
a //= 3 
print(a) # 1
a = 5
a %= 3
print(a) # 2
a **= 10 # 2^10
print(a)

8
5
15
5.0
1
2
1024

In [72]:
## 관계연산자
a, b, c, d = 3, 5, 9, 5
print(b == d, b != d, a > b, d < c, b >= d, c <= a)
print(a < b and c > d) # 양쪽 다 참이면 참, 한 쪽이라도 거짓이면 거짓
print(a > b or c > d) # 한 쪽이라도 참이면 참, 둘 다 거짓이면 거짓

True False False True True False
True
True

## 4. 형변환(Type casting)

In [87]:
str(10) # 정수 10을 문자열로 변환

'10'

In [74]:
str(3.141592) # 실수가 문자열로 변환

'3.141592'

In [77]:
int('10') # 문자열을 정수로

10

In [80]:
float('3.14') # 실수값 문자열은 float으로 변환

3.14

In [88]:
bool(1) # 1 이상은 True, 0은 False. 하지만 1만 True로 사용할 것

True

In [89]:
int('3.14') # 실수 문자열을 정수로 변환 X

ValueError: invalid literal for int() with base 10: '3.14'

In [93]:
int(3.14) # 실수형을 정수형으로 변환 가능. 소수점 이하 생략

3

In [91]:
float('3')

3.0

In [92]:
float(3)

3.0

### 5. 흐름제어
- 조건문

In [94]:
# 단순 if문
army = 300

if army < 300:
    print('싸우면 집니다.')
else:
    print('이깁니다.')

이깁니다

In [97]:
# elif
if army < 300:
    print('싸우면 집니다.') # block if army < 300: 조건의 안쪽으로 들어간다. 
    print('도망갈래요')
elif army == 300:
    print('간당간당합니다.') # block
    print('한 번 싸워보죠')
else:
    print('이깁니다.') # block
    print('드루와')

# if문도 중첩if문을 여러 번 쓰면 경우의 수가 기하급수적으로 증가(경우의 수를 모두 처리해줘야)

간당간당합니다.
한 번 싸워보죠

- for문

In [99]:
## for문
for i in range(5):
    print(i, end= ', ')

0, 1, 2, 3, 4,

In [102]:
for i in range(1, 10+1):
    print(i, end=', ')

1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [101]:
for i in range(1, 10+1, 2):
    print(i, end=', ')

1, 3, 5, 7, 9,

In [107]:
for i in [1,3,5,7,9]:
    print(i, end=', ')

1, 3, 5, 7, 9,

In [104]:
for i in [0,1,2,3,4,5,6,7,8,9]:
    print(i, end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [105]:
myList = [0,1,2,3,4,5,6,7,8,9]
for i in myList:
    print(i, end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

- while문

In [110]:
while True: # 무한루프
    print('ㅎ', end='')
    break

ㅎ

- continue : 반복문에서 조건이 맞으면 로직을 실행하지 않고 다음 반복으로 계속 반복
- break : 반복문에서 조건이 맞으면 반복문 블록을 빠져나가는 것

In [120]:
for i in range(1, 10+1):
    print(f'for문 {i}번 실행')

for문 1번 실행
for문 2번 실행
for문 3번 실행
for문 4번 실행
for문 5번 실행
for문 6번 실행
for문 7번 실행
for문 8번 실행
for문 9번 실행
for문 10번 실행

In [ ]:
for i in range(1, 100+1):
    if (i % 3 == 0) or (i % 5 == 0) or (i % 7 == 0) or (i % 9 == 0): continue
    print(f'for문 {i}번 실행')
    count += 1

print(count) # O(logN)

### 6. 함수
- 매개변수를 받아서 동일한 로직을 처리하는 영역

In [124]:
def plus(v1, v2):
    result = 0
    result = v1 + v2
    return result

In [125]:
hap = 0

hap = plus(200,100)
print(f'200과 100의 합은 {hap}')

200과 100의 합은 300

#### 6-1, 지역변수/전역변수
Local variable / Global variable

In [126]:
gbl_val = 100 # 전역변수

def func1():
    lcl_val = 10 # 지역변수
    print(gbl_val * 5)
    print(lcl_val / 2)

def func2():
    lcl_val = 10
    print(gbl_val - 10)
    print(lcl_val / 3) # 3.333 예상 but name 'lcl_val' is not defined

func1()
func2()

500
5.0
90
3.3333333333333335

In [131]:
aa = 10 # global

def func3():
    # aa = 20 # local
    global aa
    aa = 30
    print(aa)

def func4():
    print(aa)

func3()
func4()

## local일 경우 20, 10
## global로 선언하면 30, 30

30
30